site_name: Aeromat.io
site_description: Technical Resource Platform for Aeromat Plastics
site_url: https://blake-gj.github.io/aio-docs/  # Replace with your actual GitHub Pages URL
repo_url: https://github.com/blake-gj/aio-docs  # Replace with your actual repository URL
edit_uri: edit/gh-pages/docs/                             # Assumes your source is in the main branch

theme:
  font:
    text: Noto Sans
    code: Noto Sans Mono
  name: material
  logo: assets/images/logo-verywhite.svg  # Path to your logo file
  palette:
    # Dark mode
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    # Light mode
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.annotate
    - navigation.indexes
    - navigation.path
    - toc.follow
    - search.highlight
    - search.share
    - search.suggest
  icon:
    repository: false  # Removes the repository icon
  repository:
    icon: false       # Alternative way to remove the icon

repo_url: ''          # Empty string removes the repository link
repo_name: ''         # Empty string removes the repository name

extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js  

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - footnotes
  - def_list
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true 
  - tables
  - toc:
      permalink: false
      title: On this page
  - attr_list
  - md_in_html
  - def_list
  - meta

plugins:
  - search
  - tags
  - git-revision-date-localized:
      enable_creation_date: true
  - pdf-export:
      combined: true
      combined_output_path: pdf/combined.pdf
      enabled_if_env: ENABLE_PDF_EXPORT
      exclude:
        - index.md
      verbose: true
      media_type: print
      timeout: 30
  - redirects
  - macros

# Customization
extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://www.aeromatplastics.com
      name: Aeromat Plastics Website
  generator: false  # Removes "Made with Material for MkDocs" from footer

copyright: Copyright &copy; 2024 Aeromat Plastics - All rights reserved

nav:
  - Home:
      - Overview: index.md
      - About: about/index.md
      - Contact: about/contact.md
      - Style Guide: style-guide.md
  - Materials:
      - Overview: materials/index.md
      - Acetal:
          - Copolymer:
              - Anti-Static: materials/acetal/copolymer/anti-static.md
              - Conductive: materials/acetal/copolymer/conductive.md
              - Glass-Filled: materials/acetal/copolymer/glass-filled.md
          - Homopolymer:
              - Glass-Filled: materials/acetal/homopolymer/glass-filled.md
              - PTFE-Filled: materials/acetal/homopolymer/ptfe-filled.md
          - Material Guide: materials/acetal/mg.md
      - PVC:
          - Type A: materials/pvc/type-a.md
          - Type B: materials/pvc/type-b.md
          - Material Guide: materials/pvc/index.md
      - CPVC:
          - High-Temperature: materials/cpvc/high-temperature.md
          - Material Guide: materials/cpvc/index.md
      - PVDF:
          - High-Purity: materials/pvdf/high-purity.md
          - Chemical-Resistant: materials/pvdf/chemical-resistant.md
          - Material Guide: materials/pvdf/index.md
      - PTFE:
          - Virgin PTFE: materials/ptfe/virgin.md
          - Filled PTFE:
              - Glass-Filled: materials/ptfe/filled/glass-filled.md
              - Carbon-Filled: materials/ptfe/filled/carbon-filled.md
              - Bronze-Filled: materials/ptfe/filled/bronze-filled.md
          - Material Guide: materials/ptfe/index.md
      - PEEK:
          - Glass-Filled: materials/peek/glass-filled.md
          - Carbon-Filled: materials/peek/carbon-filled.md
          - Unfilled PEEK: materials/peek/unfilled.md
          - Material Guide: materials/peek/index.md
      - PET:
          - PET-G: materials/pet/pet-g.md
          - PET-T: materials/pet/pet-t.md
          - Material Guide: materials/pet/index.md
      - Nylon:
          - Nylon 6: materials/nylon/nylon-6.md
          - Nylon 66: materials/nylon/nylon-66.md
          - Material Guide: materials/nylon/index.md
      - Polypropylene:
          - Copolymer: materials/polypropylene/copolymer.md
          - Homopolymer: materials/polypropylene/homopolymer.md
          - Material Guide: materials/polypropylene/index.md
      - Polyethylene:
          - LDPE: materials/polyethylene/ldpe.md
          - HDPE: materials/polyethylene/hdpe.md
          - HMW: materials/polyethylene/hmw.md
          - UHMW: materials/polyethylene/uhmw.md
          - Material Guide: materials/polyethylene/index.md
  - Design Guides:
    - Overview: design-guides/index.md
    - Plastic Design Guide: design-guides/plastic-design.md
    - Fastener Design Guide: design-guides/fastener-design.md
  - Machining:
    - Overview: machining/index.md
    - CNC Techniques: machining/cnc-techniques.md
    - Machining Plastics: machining/plastics.md
  - Welding:
    - Overview: welding/index.md
    - Plastic Welding Techniques: welding/plastic-techniques.md
    - Common Welding Materials: welding/materials.md


